{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Şifre Değiştir</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Phoenixcoded">


<link rel="icon" href="{%static 'assets/images/favicon.svg'%}" type="image/x-icon"> 
<link rel="stylesheet" href="{%static 'assets/fonts/inter/inter.css'%}" id="main-font-link" />
<link rel="stylesheet" href="{%static 'assets/fonts/tabler-icons.min.css'%}" >
<link rel="stylesheet" href="{%static 'assets/fonts/feather.css'%}" >
<link rel="stylesheet" href="{%static 'assets/fonts/fontawesome.css'%}" >
<link rel="stylesheet" href="{%static 'assets/fonts/material.css'%}" >
<link rel="stylesheet" href="{%static 'assets/css/style.css'%}" id="main-style-link" >
<link rel="stylesheet" href="{%static 'assets/css/style-preset.css'%}" >
</head>
<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">

  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>


  <div class="auth-main">
    <div class="auth-wrapper v2">
      
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
           
            <h4 class="text-center f-w-500 mb-3">Şifre değiştir</h4>
      
                <form method="POST">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-12">
                            <label for="mevcut" class="form-label">Mevcut Şifreniz:</label>
                            <input type="password" name="current" class="form-control" id="mevcut" required/>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="first" class="form-label">Yeni şifreniz:</label>
                            <input type="password" name="pw1" class="form-control" id="first" required/>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="last" class="form-label">Yeni şifrenizi tekrar girin:</label>
                            <input type="password" name="pw2" class="form-control" id="last" required/>
                        </div>
                        <div class="col-3 mt-3">
                          <button type="submit" class="btn btn-primary">
                            Gönder
                          </button>
                        </div>
                        <div class="col-3 mt-3">
                          <a href="{%url 'panel:dashboard'%}" class="btn btn-light">
                            vazgeç
                          </a>
                        </div>
                    </div>

                </form>
             
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{%static 'assets/js/plugins/popper.min.js'%}"></script>
  <script src="{%static 'assets/js/plugins/simplebar.min.js'%}"></script>
  <script src="{%static 'assets/js/plugins/bootstrap.min.js'%}"></script>
  <script src="{%static 'assets/js/fonts/custom-font.js'%}"></script>
  <script src="{%static 'assets/js/pcoded.js'%}"></script>
  <script src="{%static 'assets/js/plugins/feather.min.js'%}"></script>

  